.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: aliceblue;
}

.container h2 {
  text-align: center;
}

.photo {
  border: 1rem white solid;
  height: 350px;
  width: auto;
}
