.navBar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  font-size: 1.5rem;
  color: white;
}

.active {
  font-weight: bolder;
  color: aliceblue;
  text-shadow: 0 0 0.2em #c41f1f, 0 0 0.2em #c41f1f,
  0 0 0.2em #c41f1f
}

